body {
    margin: 0;
    overflow-x: hidden;
}

section {
    position: absolute;
}
section img {
    width: 100%;
}

@keyframes slide {
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.slide {
    transition: transform 0.2s ease-in-out;
}
.home-slide {
    z-index: 0;
}
.about-slide {
    z-index: 10;
}
.contact-slide {
    z-index: 20;
    animation: slide 2s;
}
button {
    margin: 20px;
}